<!DOCTYPE html>
<html>
  <head>
    <title>TechliftStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Bootstrap 4 CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    >

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- =======================
         GLOBAL NAVBAR
    ======================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand font-weight-bold" href="/">
          <span style="font-size: 1.3rem;">TechLift Store</span>
        </a>

        <!-- Mobile Toggle (Bootstrap 4) -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Products", products_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Categories", "#", class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "About", "#", class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Contact", "#", class: "nav-link" %>
            </li>

            <!-- Cart Button -->
          <% cart_count = session[:cart].present? ? session[:cart].values.sum : 0 %>

          <li class="nav-item">
            <%= link_to cart_path, class: "btn btn-primary ml-3" do %>
              Cart <span class="badge badge-light"><%= cart_count %></span>
            <% end %>
          </li>



          </ul>
        </div>

      </div>
    </nav>

    <!-- Yield page content -->
    <%= yield %>

    <!-- =======================
         BOOTSTRAP 4 JS (REQUIRED)
    ======================== -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous">
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6Jty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4f86dIHNDz0W1LT"
      crossorigin="anonymous">
    </script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous">
    </script>

  </body>
</html>
